
<div class="modal fade" id="guesswhoModal" tabindex="-1" aria-labelledby="guesswhoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="guesswhoModalLabel">Your guess is:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @characters.each do |character| %>
          <% if !@game.user_rejected_characters.include?(character.id) %>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="game_id_<%= character.id %>">
              <label class="form-check-label" for="game_id_<%= character.id %>">
                <%= image_tag(character.image_url, class: "card-circle__verysmall") %>
                <%= character.character_name  %>
              </label>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" id="guesswho" class="btn btn-primary">I guess!</button>
      </div>
    </div>
  </div>
</div>
