<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-8 offset-sm-2 offset-md-2">
      <div class="white-background">
        <div class="profile-infos">
          <%#= link_to edit_user_path(@user) do %>
          <i id="penEditIcon" aria-describedby="tooltip" class="fa-solid fa-pen"></i>
          <div id="tooltipPen" role="tooltip">That's not possible, 'cause it's not your profile!
            <div id="arrowPen" data-popper-arrow></div>
          </div>
          <%# end %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-profile-page" %>
          <% else %>
            <i class="fa-regular fa-circle-user"></i>
          <% end %>
        </div>
        <div class="profile-contents">
          <div class="contents-title">
            <i class="fa-regular fa-address-card"></i>
            <h5 class="text-left">Informations</h5>
          </div>
          <div class="">
            <h5><%= @user.email %></h5>
            <% if current_user.id == 1 %>
              <p>Hi! 👋 </p>
              <p>I'm Mélanie! After 20 years as a Stadium Manager and Event Manager in Bordeaux, Paris and
              Lille, I'm finally starting a new career challenge in web development!</p>
              <p>I'm trained in Ruby & Ruby on Rails, JS, HTML/CSS, Git, GitHub, PostgreSQL, Heroku thanks
              to Le Wagon Bordeaux.</p>
              <p>My goal is to learn as much as possible about TDD, React, and no-code...</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
