<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-8 offset-sm-2 offset-md-2">
      <div class="white-background">
        <%= render 'components/saphir'%>
        <%# <div class="profile-infos" data-controller="doing-sparkles">
          <i data-doing-sparkles-target="trophy" class="fa-solid fa-trophy"></i>
        </div> %>
        <div class="profile-contents">
          <div class="contents-title">
            <h5 class="text-left">In progress!</h5>
          </div>
          <div class="">
            <p class=""></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
