<%# <div class="">
  <div class="container"> %>
    <% if @current_status == true %>
      <div class="justify-content-center m-5">
        <h1>You win!</h1>
        <img src="https://media.giphy.com/media/THZ247xvSDJmqiXSWe/giphy.gif" class="card-rounded-xl" frameBorder="0" allowFullScreen alt="">
      </div>
      <div>
    <% else %>
      <div class="justify-content-center m-5">
        <h1>Sorry, you lost...</h1>
        <img src="https://media.giphy.com/media/SIPIe590rx6iA/giphy.gif" class="card-rounded-xl" frameBorder="0" allowFullScreen alt="">
      </div>
    <% end %>
  <%# </div>
</div> %>
