.card-rounded, .card-rounded__for_round, .card-rounded__for_modal, .card-rounded__for_round_computer {
  width: 130px;
  height: 130px;
  border-radius: 5%;
  align-content: center;
}

.card-rounded {
  cursor: pointer;
  border: rgb(255, 255, 255) 0.8px solid;

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    position: absolute;
    width: 130px;
    height: 130px;
    bottom: -80px;
    left: 25px;
    border: rgb(255, 255, 255) 0.6px solid;
    box-shadow: 17px 0px 17px rgba(0,0,0,0.2);
    transform: skew(361deg);
  }

  @media (min-width: 992px) {}

  &__for_round {
    border: rgb(255, 255, 255) 0.8px solid;

    @media (min-width: 768px) {
      position: absolute;
      bottom: 53px;
      left: 25px;
      border: rgb(255, 255, 255) 0.6px solid;
      box-shadow: 17px 0px 17px rgba(0, 0, 0, 0.2);
      transform: skew(361deg);
    }

    @media (min-width: 1100px) {
      width: 100px;
      height: 100px;
      bottom: 11px;
      left: 25px;
    }
  }

  &__for_modal {
    cursor: pointer;

    &:hover {
      border: double 3px transparent;
      background-image: linear-gradient(white, white), radial-gradient(circle at bottom left, #11998e, #38ef7d);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
  }

  &__for_game {
    width: 250px;
    height: 250px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 30px;

    @media (min-width: 768px) {
      width: 400px;
      height: 400px;
    }


    @media (min-width: 992px) {
      width: 450px;
      height: 450px;
    }
  }
}

.card-rounded-back {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 130px;
  height: 130px;
  background-color: $red-guesswho;
  background-image: asset_url("logo-guesswho.png");
  background-size: 38%;
  background-repeat: no-repeat;
  background-position: center;
  border: rgb(255, 255, 255) 0.8px solid;
  border-radius: 5%;

  @media (min-width: 768px) {
    position: absolute;
    bottom: -80px;
    left: 25px;
    border: rgb(255, 255, 255) 0.6px solid;
    box-shadow: 17px 0px 17px rgba(0,0,0,0.2);
    transform: skew(361deg);
  }

  @media (min-width: 1100px) {
    width: 100px;
    height: 100px;
    bottom: -80px;
    left: 25px;
  }
}

.card-checkbox {
  position: absolute;
  top: -8px;
  right: -5px;
  background-color: $green-guesswho;
  color: white;
  font-size: 12px;
  line-height: 0.7;
  padding: 6px;
  border: 0.5px white solid;
  border-radius: 50%;
  z-index: 999;

  @media (min-width: 768px) {
    top: -36px;
    right: 13px;
    font-size: 14px;
    line-height: 0.7;
  }

  @media (min-width: 992px) {}
}
