.card-rounded, .card-rounded__for_round, .card-rounded__for_modal, .card-rounded__for_round_computer {
  width: 130px;
  height: 130px;
  border-radius: 5%;
  align-content: center;
}

.card-rounded {
  cursor: pointer;
  border: rgb(255, 255, 255) 0.8px solid;
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    position: absolute;
    width: 130px;
    height: 130px;
    bottom: -80px;
    left: 25px;
    border: rgb(255, 255, 255) 0.6px solid;
    box-shadow: 17px 0px 17px rgba(0,0,0,0.2);
    transform: skew(361deg);
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    width: 150px;
    height: 150px;
    bottom: -80px;
    left: 31px;
  }

  &__for_round {
    border: rgb(255, 255, 255) 0.8px solid;

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      position: absolute;
      // width: 130px;
      // height: 130px;
      bottom: 53px;
      left: 25px;
      border: rgb(255, 255, 255) 0.6px solid;
      box-shadow: 17px 0px 17px rgba(0, 0, 0, 0.2);
      transform: skew(361deg);
    }

    &_computer {
        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
        position: absolute;
        // width: 130px;
        // height: 130px;
        bottom: -34px;
        left: 25px;
        border: rgb(255, 255, 255) 0.6px solid;
        box-shadow: 17px 0px 17px rgba(0, 0, 0, 0.2);
        transform: skew(361deg);
      }
    }

  }

  &__for_modal {
    cursor: pointer;

    &:hover {
      border: double 3px transparent;
      background-image: linear-gradient(white, white), radial-gradient(circle at bottom left, #11998e, #38ef7d);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
  }

  &__for_game {
    width: 250px;
    height: 250px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 30px;

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      width: 400px;
      height: 400px;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      width: 450px;
      height: 450px;
    }
  }
}

// .card-rounded-xxs {
//   width: 70px;
//   height: 70px;
//   border-radius: 50%;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   margin-bottom: 5px;
// }

.card-rounded-back {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 130px;
  height: 130px;
  background-color: $red-guesswho;
  background-image: asset_url("logo-guesswho.png");
  background-size: 38%;
  background-repeat: no-repeat;
  background-position: center;
  border: rgb(255, 255, 255) 0.8px solid;
  border-radius: 5%;

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    position: absolute;
    width: 130px;
    height: 130px;
    bottom: -80px;
    left: 25px;
    border: rgb(255, 255, 255) 0.6px solid;
    box-shadow: 17px 0px 17px rgba(0,0,0,0.2);
    transform: skew(361deg);
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    width: 150px;
    height: 150px;
    bottom: -80px;
    left: 31px;
  }
}

.card-rounded-back-computer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: $red-guesswho;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 5px;

  i {
    color: white;
    font-size: 50px;
  }
}

// .card-border-red {
//   border: $red-guesswho 3px solid;

//  /* Medium devices (tablets, 768px and up) */
//   @media (min-width: 768px) {
//     border: $red-guesswho 6px solid;
//   }

//   /* Large devices (desktops, 992px and up) */
//   @media (min-width: 992px) {
//     border: $red-guesswho 6px solid;
//   }
// }

.card-checkbox {
  position: absolute;
  top: -8px;
  right: -5px;
  background-color: $green-guesswho;
  color: white;
  font-size: 12px;
  line-height: 0.7;
  padding: 6px;
  border: 0.5px white solid;
  border-radius: 50%;
  z-index: 999;

   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    top: -36px;
    right: 13px;
    font-size: 14px;
    line-height: 0.7;
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    top: -52px;
    right: 27px;
    font-size: 14px;
    line-height: 1;
    padding: 7px;
  }
}
