.position-relative-for-cards {
  position: relative;
  @media (min-width: 768px) {
    position: relative;
  }
}

.position-relative-for-card-checkboxes {
  @media (max-width: 767px) {
    position: relative;
  }
}

.gameboard__for_round, .gameboard__for_game {

  .gameboard-title {
    position: relative;
    color: $orange-guesswho;
    font-size: 18px;
    top: 35px;
    left: 8px;
  }

  @media (min-width: 768px) {
    width: 720px;
    height: 784px;
    background: linear-gradient(45deg, rgba(230, 0, 19, 1) 0%, rgba(230, 0, 19, 1) 45%, rgb(242, 92, 51));
    border-bottom: #b1010f 35px solid;
    border-right: #b1010f 12px solid;
    border-radius: 6px;
    box-shadow: 20px 0px 9px rgba(0, 0, 0, 0.2);
    transform: skew(359deg);
  }
}

.gameboard__for_round {
  @media (min-width: 1100px) {
    width: 600px;
    height: 590px;
  }
}

.gameboard {

  .gameboard-title {
    position: relative;
    color: $orange-guesswho;
    font-size: 18px;
    top: 35px;
    left:8px;
  }

  @media (min-width: 768px) {
    width: 720px;
    height: 784px;
    background: linear-gradient(45deg, rgba(230,0,19,1) 0%, rgba(230,0,19,1) 45%, rgb(242, 92, 51));
    border-bottom: #b1010f 35px solid;
    border-right: #b1010f 12px solid;
    border-radius: 6px;
    box-shadow: 20px 0px 9px rgba(0, 0, 0, 0.2);
    transform: skew(359deg);
  }
}

.slot-white__for_game, .slot-white__for_round {
  @media (min-width: 768px) {
    width: 138px;
    height: 8px;
    position: absolute;
    left: 22px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white;
    border-bottom: rgb(114, 114, 114) 1px solid;
    border-right: rgb(114, 114, 114) 1px solid;
  }
}

.slot-white__for_game {
  @media (min-width: 768px) {
    top: 97px;
  }
}

.slot-white__for_round {
  @media (min-width: 768px) {
    top: 73px;
  }

  @media (min-width: 1100px) {
    width: 108px;
  }
}
