.rectangle-red {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: $red-guesswho;
  border-bottom: #b1010f 10px solid;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 4px;

   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    width: 200px;
    // height: 130px;
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    width: 217px;
  }
}

.position-relative-for-cards {
  position: relative;
}

.rectangle-red-xxl {
  width: 1296px;
  height: 540px;
  background-color: $red-guesswho;
  border-bottom: #b1010f 18px solid;
  border-right: #b1010f 8px solid;
  border-radius: 6px;
  box-shadow: 20px 0px 9px rgba(0, 0, 0, 0.2);

   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    // width: 200px;
    // height: 130px;
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    // width: 217px;
  }
}

.slot-white {
  width: 155px;
  height: 6px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: white;
  border-bottom: rgb(114, 114, 114) 1px solid;
  border-right: rgb(114, 114, 114) 1px solid;


   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    width: 155px;
    // height: 130px;
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    width: 165px;
    bottom: -80px;
    left: 25px;
  }

}
