.position-relative-for-cards {
  position: relative;
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    position: relative;
    // height: 130px;
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }
}

.position-relative-for-card-checkboxes {
  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 767px) {
    position: relative;
    // height: 130px;
  }
}

.gameboard-parallelogram-xl {

  .gameboard-title {
    position: relative;
    color: $orange-guesswho;
    font-size: 18px;
    top: 35px;
    left:8px;
  }

   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    width: 720px;
    height: 784px;
    background: linear-gradient(45deg, rgba(230,0,19,1) 0%, rgba(230,0,19,1) 45%, rgb(242, 70, 51));
    border-bottom: #b1010f 35px solid;
    border-right: #b1010f 12px solid;
    border-radius: 6px;
    box-shadow: 20px 0px 9px rgba(0, 0, 0, 0.2);
    transform: skew(359deg);
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    width: 1296px;
    height: 540px;
  }
}

.slot-white {
    /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    width: 138px;
    height: 8px;
    position: absolute;
    top: 73px;
    left: 22px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white;
    border-bottom: rgb(114, 114, 114) 1px solid;
    border-right: rgb(114, 114, 114) 1px solid;
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    width: 156px; //165
    bottom: -80px;
    left: 30px;
  }

}
