#computer-dashboard {

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
      margin: 0 auto 0 60px;
      padding: 0 23px;
  }
}

.row {
  display: flex;
  flex-direction: inline;
  justify-content: space-between;
}

.wrapper-parent{
  margin: 0 auto 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent__for_game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: 20px 0;

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      margin: 80px auto 30px auto;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 1100px) {}
}

.parent__for_round {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: 0 auto 60px auto;

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px; //10px
      grid-row-gap: 0px;
      margin: 65px auto 30px auto;
    }

    @media (min-width: 1120px) {
      margin: 45px auto 40px auto;
      width: 600px;
    }
}
