/* Small devices (landscape phones, 576px and up) */
#computer-dashboard {

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
      display: none;
      // height: 1130px;
      margin: 0 auto 0 60px;
      // background-color: rgba(211, 211, 211, .4);
      // border-radius: 6px;
      padding: 0 23px;
      display: block;
      flex-direction: column;
    }
}

.row {
  display: flex;
  flex-direction: inline;
  justify-content: space-between;
}

.wrapper-parent{
  margin: 0 auto 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent-game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: 20px 0;

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px; //10px
      grid-row-gap: 0px;
      margin: 80px auto 30px auto;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px; //15px
      grid-row-gap: 0px; //117px
    }
}

.parent-round {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: 0 auto 60px auto;

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px; //10px
      grid-row-gap: 0px;
      margin: 65px auto 30px auto;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      // grid-template-columns: repeat(4, 1fr);
      // grid-template-rows: repeat(6, 1fr);
      // grid-column-gap: 20px;
      // grid-row-gap: 50px;
      // margin-bottom: 60px;
    }

}

// .parent-round-computer {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: repeat(6, 1fr);
//   grid-column-gap: 0px;
//   grid-row-gap: 60px;
//   margin: 0 auto 40px auto;
// }
