.navbar {
  justify-content: space-between;
  background: $red-guesswho;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-transparent {
  background-color: none;
}

.nav-link {
  color: white !important;
  padding-right: 40px !important;
  text-decoration: none;
  font-weight: 200;

  img {
    padding-right: 5px;
    width: 30px;
  }
}

.dropdown-menu {
  min-width: 11rem;
  border-radius: 4px;
  color: #333333;
  margin-top: 5px !important;

  i {
    margin-right: 10px;
  }

  a:hover {
    i {
      color: #f6d72b;
    }
  }
}


.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 0px;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}
